:root {
    /* colors */
    --clr-black: rgb(20, 20, 20);
    --clr-dark-grey: rgb(31, 31, 31);
    --clr-light-grey: rgb(51, 51, 51);
    --clr-green: rgb(196, 248, 42);
    --clr-white: rgb(255, 255, 255);
}

/* Reset------------------------------------------------------------------------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
}

/* 
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* Set core body defaults */
body {
    font-family: "Inter", sans-serif;
    color: white;
    background: var(--clr-black);
    line-height: 150%;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

.card {
    max-width: 384px;
    margin: 0 auto;
    margin-top: 174.5px;
    border-radius: 12px;
    background: var(--clr-dark-grey);
}

.img {
    max-width: 88px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 24px;
}

.profile {
    text-align: center;
}

