/* Custom properties -------------------------------------------- */
:root {
    /* colors */
    --clr-green: rgb(68, 255, 161);
    --clr-dark-purple: rgb(36, 5, 62);
    --clr-purple: rgb(88, 77, 98);
    --clr-light-purple: rgb(253, 250, 255);
    --clr-white: rgb(255, 255, 255);

    /* font-sizes */
    --fs-80: 5rem;
    --fs-56: 3.5rem;
    --fs-32: 2rem;
    --fs-18: 1.125rem;

    --ff-fraunces: "Fraunces", serif;
    font-weight: 600;
    --ff-manrope-normal: "Manrope", sans-serif;
    font-weight: 400;
    --ff-manrope-bold: "Manrope", sans-serif;
    font-weight: 700;
}

/* Reset -------------------------------------------- */
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* set up the body */
/* body {
    font-family: var(--ff-manrope-normal);
    font-size: var(--fs-18);
    color: var(--clr-dark-purple);
    background-color: var(--clr-white);
} */

/* make images easiet to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make forms elements easier to work with */
input,
button,
textarea,
select {
    font: inherit
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Utility classes -------------------------------------------- */
.container {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
}

.bg-curve {
    clip-path: ellipse(100% 100% at 50% 0%);
}

.flex {
    display: flex;
}

/* pasidometi----------------------------- ar reikalingas */
/* .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
} */

/* colors */
.bg-dark {
    background-color: var(--clr-dark-purple);
}

.bg-light {
    background-color: var(--clr-light-purple)
}

.bg-white {
    background-color: var(--clr-white)
}

.bg-green {
    background-color: var(--clr-green)
}

.text-dark {
    color: var(--clr-dark-purple);
}

.text-light {
    color: var(--clr-light-purple);
}

.text-white {
    color: var(--clr-white);
}

.text-green {
    color: var(--clr-green);
}

/* typography */
.ff-fraunces {
    font-family: var(--ff-fraunces);
}

.ff-manrope-normal {
    font-family: var(--ff-manrope-normal);
    line-height: 1.8;
}

.ff-manrope-bold {
    font-family: var(--ff-manrope-bold);
    line-height: 1.5;
}

.fs-80 {
    font-size: var(--fs-80);
    line-height: 1;
}

.fs-56 {
    font-size: var(--fs-56);
    line-height: 1.2;
}

.fs-32 {
    font-size: var(--fs-32);
    line-height: 1.2;
}

.fs-18 {
    font-size: var(--fs-18);
}

/* Components -------------------------------------------- */
.underline-indicators {
    border-bottom: 3px solid rgb(68, 255, 161);
    cursor: pointer;
}

.underline-indicators:hover,
.underline-indicators:focus {
    color: var(--clr-green);
}

/*---------------------------------- Navigation styles */
nav {
    justify-content: space-between;
    align-items: flex-end;
    height: 5.688rem;
}

/*---------------------------------- Header styles */

