/* Custom properties -------------------------------------------- */
:root {
    /* colors */
    --clr-green: rgb(68, 255, 161);
    --clr-dark-purple: rgb(36, 5, 62);
    --clr-purple: rgb(88, 77, 98);
    --clr-light-purple: rgb(253, 250, 255);
    --clr-white: rgb(255, 255, 255);

    /* font-sizes */
    --fs-80: 5rem;
    --fs-56: 3.5rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-18: 1.125rem;

    --ff-fraunces: "Fraunces", serif;
    font-weight: 600;
    --ff-manrope-normal: "Manrope", sans-serif;
    font-weight: 400;
    --ff-manrope-bold: "Manrope", sans-serif;
    font-weight: 700;
}

@media (width < 36em) {
    :root {
        --fs-80: 3rem;
        --fs-56: 2rem;
        --fs-32: 1.5rem;
        --fs-24: 1.25rem;
        --fs-18: 1rem;
    }
}

@media (36em <=width <=48em) {
    :root {
        --fs-80: 3.75rem;
        --fs-56: 3rem;
        --fs-32: 1.75rem;
        --fs-24: 1.25rem;
        --fs-18: 1rem;
    }
}

/* Reset -------------------------------------------- */
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
    margin: 0;
    padding: 0;
}

/* set up the body */
body {
    font-family: var(--ff-manrope-normal);
    font-size: var(--fs-16);
    color: var(--clr-dark-purple);
    background-color: var(--clr-white);
}

/* make images easiet to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make forms elements easier to work with */
input,
button,
textarea,
select {
    font: inherit
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Utility classes -------------------------------------------- */
.container {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2.75rem;
}

@media (width < 36em) {
    .container {
        padding: 0 1.25rem;
    }
}


.bg-curve-top {
    background: radial-gradient(ellipse 130% 75% at 50% 0%, var(--clr-dark-purple) 100%, var(--clr-light-purple) 100%);
    position: relative;
    overflow: clip;
}



.bg-curve-bottom {
    background: radial-gradient(ellipse 120% 100% at 50% 0%, var(--clr-light-purple) 100%, var(--clr-white) 100%);
}

.flex {
    display: flex;
}

/* pasidometi----------------------------- ar reikalingas */
/* .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
} */

/* colors */
.bg-dark {
    background-color: var(--clr-dark-purple);
}

.bg-light {
    background-color: var(--clr-light-purple)
}

.bg-white {
    background-color: var(--clr-white)
}

.bg-green {
    background-color: var(--clr-green)
}

.text-dark {
    color: var(--clr-dark-purple);
}

.text-light {
    color: var(--clr-light-purple);
}

.text-white {
    color: var(--clr-white);
}

.text-green {
    color: var(--clr-green);
}

/* typography */
.ff-fraunces {
    font-family: var(--ff-fraunces);
}

.ff-manrope-normal {
    font-family: var(--ff-manrope-normal);
    font-weight: 400;
    line-height: 1.8;
}

.ff-manrope-bold {
    font-family: var(--ff-manrope-bold);
    line-height: 1.5;
}

.fs-80 {
    font-size: var(--fs-80);
    line-height: 1;
}

.fs-56 {
    font-size: var(--fs-56);
    line-height: 1.2;
}

.fs-32 {
    font-size: var(--fs-32);
    line-height: 1.2;
}

.fs-18 {
    font-size: var(--fs-18);
}

/* Components -------------------------------------------- */
.underline-indicators {
    border-bottom: 3px solid rgb(68, 255, 161);
}

.btn-primary {
    font-family: var(--ff-manrope-bold);
    font-size: var(--fs-18);
    color: var(--clr-dark-purple);
    background-color: var(--clr-green);
    padding: 12px 32px;
    white-space: nowrap;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--clr-dark-purple);
    border: 2px solid var(--clr-green);
    color: var(--clr-green);
}

.btn-secondary {
    font-family: var(--ff-manrope-bold);
    font-size: var(--fs-18);
    color: var(--clr-white);
}

.btn-secondary:hover,
.btn-secondary:focus {
    color: var(--clr-green);
}

/*---------------------------------- Navigation styles */
nav {
    justify-content: space-between;
    align-items: flex-end;
    height: 5.688rem;
}

@media (36em <=width <=48em) {
    nav {
        height: 4.188rem;
    }
}

@media (width < 36em) {
    nav {
        height: 4.75rem;
    }
}


.top-pattern {
    position: absolute;
    top: 138px;
    left: -101px;
}

.middle-pattern {
    position: absolute;
    top: 342px;
    right: -45.68px;
}

@media (width < 36em) {
    .top-pattern {
        display: none;
    }

    .middle-pattern {
        display: none;
    }
}

/*---------------------------------- Header styles */
header {
    text-align: center;
    padding-block-start: 3.5rem;
}

header h1 {
    margin: 0 auto;
    max-width: 11ch;
    padding-block-end: 3.25rem;
    font-weight: 600;
}

header .img {
    margin: 0 auto;
    max-width: 767px;
    margin-block-start: 6.25rem;
    padding-block-end: 5.5rem;
}

@media (36em <=width <=48em) {
    header .img {
        max-width: 602px;
        margin-block-start: 3.25rem;
        padding-block-end: 3.5rem;
    }
}

@media (width < 36em) {
    header .img {
        max-width: 360px;
        margin-block-start: 3.25rem;
        padding-block-end: 4rem;
    }
}

/*---------------------------------- Middle-section styles */
.middle-section {
    text-align: center;
    gap: 2rem;
    padding-block-end: 13.5rem;
}

.middle-section div>p:first-child {
    font-family: var(--ff-fraunces);
    font-size: var(--fs-24);
    border: var(--clr-purple) 1px solid;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: 3.5rem;
    line-height: 1.2;
    font-weight: 600;
}

.middle-section div>h3 {
    font-family: var(--ff-fraunces);
    font-size: var(--fs-32);
    margin-block-end: 1.75rem;
    font-weight: 600;
}

.middle-section div>p:last-child {
    font-family: var(--ff-manrope-normal);
    font-size: var(--fs-18);
    line-height: 1.8;
    font-weight: 400;
}

@media (36em <=width <=48em) {
    .middle-section {
        text-align: left;
        padding-block-end: 7.25rem;
        flex-direction: column;
    }

    .middle-section>* {
        display: flex;
        align-items: center;
    }

    .middle-section div>p:first-child {
        margin: 0;
        margin-inline-end: 3.5rem;
        width: 3rem;
        height: 3rem;
        aspect-ratio: 1/1;
    }
}

@media (width < 36em) {
    .middle-section {
        text-align: center;
        padding-block-end: 5.5rem;
        flex-direction: column;
    }

    .middle-section div>p:first-child {
        margin: 0 auto;
        margin-bottom: 1.5rem;
        width: 3rem;
        height: 3rem;
        aspect-ratio: 1/1;
    }

    .middle-section div>h3 {
        margin-block-end: 1rem;
    }
}

/*---------------------------------- Founder-section styles */
.founder-section {
    margin-top: 7rem;
}

.founder-section .flex {
    display: grid;
    max-width: 70rem;
    height: 36.188rem;
    grid-template-columns: auto auto;
    position: relative;
    overflow: clip
}

.founder {
    max-width: 477px;
}

.article {
    max-width: 45.625rem;
    padding-top: 4rem;
    padding-bottom: 4.75rem;
    padding-left: 4rem;
    padding-right: 4rem;
    align-self: end;
    margin-left: -5.438rem;
    position: relative;
}

.bottom-pattern {
    position: absolute;
    bottom: -64.45px;
    left: 402px;
}

.article h2 {
    font-weight: 600;
}

.article p {
    margin: 2rem 0rem 2.75rem 0;
}

@media (36em <=width <=48em) {
    .founder-section .flex {
        max-width: 42.5rem;
        height: 34.875rem;
        grid-template-columns: 17.5rem auto;
        position: relative;
    }

    .founder {
        max-width: 280px;
    }

    .article {
        max-width: 31.5rem;
        padding-top: 3rem;
        padding-bottom: 3.75rem;
        padding-left: 3rem;
        padding-right: 3rem;
        align-self: end;
        margin-left: -5.438rem;
        position: relative;
    }

    .bottom-pattern {
        position: absolute;
        bottom: -113.45px;
        left: 270px;
    }
}

@media (width < 36em) {
    .founder-section .flex {
        margin: 0 auto;
        max-width: 20.938rem;
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .founder {
        width: 100%;
        margin-bottom: -48px;
    }

    .article {
        max-width: 100%;
        padding-top: 2rem;
        padding-bottom: 2.75rem;
        padding-left: 2rem;
        padding-right: 2rem;

    }

    .bottom-pattern {
        display: none;
    }
}

/*---------------------------------- Footer styles */
footer {
    margin: 0 auto;
    padding: 7rem 0;
    max-width: 7.25rem;
    display: flex;
    flex-direction: column;
}

footer img {
    width: 5.985rem;
    margin: 0 auto;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 3.5rem;
}

footer svg path {
    fill: var(--clr-purple);
}

footer svg path:hover,
footer svg path:focus {
    fill: var(--clr-dark-purple)
}

@media (36em <=width <=48em) {
    footer {
        padding: 5rem 0;
    }
}