/* ===================== */
/* 🔢 :root */
:root {
    --font-base: 1rem;
    /* --line-height: 1.5; */

    --clr-black: 18, 18, 18;
    --clr-dark-blue: 25, 32, 45;
    --clr-white: 255, 255, 255;
    --clr-grey-100: 231, 234, 238;
    --clr-grey-200: 207, 207, 207;
    --clr-grey-400: 103, 109, 126;
    --clr-grey-500: 72, 85, 106;
    --clr-purple-50: 237, 228, 255;
    --clr-purple-300: 167, 117, 241;
    --clr-purple-500: 115, 63, 200;
    --clr-background: 246, 245, 246;

    --fs-20: 1.25rem;
    --fs-13: 0.813rem;
    --fs-11: 0.688rem;
}

@media (width < 36em) {
    :root {}
}

@media (36em <=width <=48em) {
    :root {}
}

/* ===================== */
/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    font-size: var(--font-base);
    /* line-height: var(--line-height); */
    font-family: "Barlow Semi Condensed";
    /* color: var(--clr-grey-500); */
    background-color: rgb(var(--clr-background))
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

@media (36em <=width <=48em) {
    .container {
        padding: 0 60px;
    }
}

@media (width < 36em) {
    .container {
        padding: 0 35px;
    }
}

/* ===================== */
/* 🧰 Utility classes */

.text-present-1 {
    font-size: var(--fs-20);
    font-family: "Barlow Semi Condensed";
    font-weight: 600;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0;
}

.text-present-2 {
    font-size: var(--fs-13);
    font-family: "Barlow Semi Condensed";
    font-weight: 500;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0;
}

.text-present-3 {
    font-size: var(--fs-13);
    font-family: "Barlow Semi Condensed";
    font-weight: 500;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0px;
}

.text-present-4 {
    font-size: var(--fs-11);
    font-family: "Barlow Semi Condensed";
    font-weight: 500;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0px;
}

.bg-purple-500 {
    background-color: rgb(var(--clr-purple-500));
}

.bg-grey-500 {
    background-color: rgb(var(--clr-grey-500));
}

.bg-white {
    background-color: rgb(var(--clr-white));
}

.bg-dark-blue {
    background-color: rgb(var(--clr-dark-blue));
}

/* ===================== */
/* 🧩 Custom components */

.container {
    margin: 229px auto;
    max-width: 1236px;
    padding: 0 60px;
}

article {
    border-radius: 8px;
    padding: 32px;
}

article:nth-child(1) {
    color: rgb(var(--clr-white));
}

article:nth-child(1) .author p:last-child,
article:nth-child(1) > :last-child {
    color: rgb(var(--clr-purple-50));
}

article:nth-child(2) {
    color: rgb(var(--clr-white));
}

article:nth-child(2) .author p:last-child,
article:nth-child(2) > :last-child {
    color: rgb(var(--clr-grey-100));
}

article:nth-child(3) {
    color: rgb(var(--clr-grey-500));
}

article:nth-child(3) .author p:last-child,
article:nth-child(3) > :last-child {
    color: rgb(var(--clr-grey-400));
}

article:nth-child(4) {
    color: rgb(var(--clr-white));
}

article:nth-child(4) h2 {
    color: rgb(var(--clr-grey-200));
}

article:nth-child(4) > :last-child {
    color: rgb(var(--clr-grey-100));
}

article:nth-child(5) {
    color: rgb(var(--clr-grey-500));
}

article:nth-child(5) .author p:last-child,
article:nth-child(5) > :last-child {
    color: rgb(var(--clr-grey-400));
}

.grid {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
}