/* ===================== */
/* 🔢 Custom properties */
:root {
    --measure: 60ch;
    /* fonts */
    --font-base: 1rem;
    /* --line-height: 1.5; */

    /* colors */
    --clr-black: 18, 18, 18;
    --clr-dark-blue: 25, 32, 45;
    --clr-white: 255, 255, 255;
    --clr-grey-100: 231, 234, 238;
    --clr-grey-200: 207, 207, 207;
    --clr-grey-400: 103, 109, 126;
    --clr-grey-500: 72, 85, 106;
    --clr-purple-50: 237, 228, 255;
    --clr-purple-300: 167, 117, 241;
    --clr-purple-500: 115, 63, 200;
    --clr-background: 246, 245, 246;

    /* font-sizes */
    --fs-20: 1.25rem;
    --fs-13: 0.813rem;
    --fs-11: 0.688rem;
}

@media (width < 36em) {
    :root {

    }
}

@media (36em <=width <=48em) {
    :root {
        
    }
}

/* ===================== */
/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    font-size: var(--font-base);
    /* line-height: var(--line-height); */
    font-family: "Barlow Semi Condensed";
    color: var(--clr-grey-500);
    background-color: rgb(var(--clr-background))
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

/* ===================== */
/* 🧱 Layouts */
.container {
    margin: 0 auto;
    max-width: 1236px;
    padding: 0 61px;
}

@media (36em <=width <=48em) {
    .container {
        padding: 0 60px;
    }
}

@media (width < 36em) {
    .container {
        padding: 0 35px;
    }
}

.flex {
    display: flex;
}

/* .flex>*+* {
    margin-block-start: var(--gap, 1rem);
} */

.center {
    margin-inline: auto;
    text-align: center;
    padding-inline: var(--gap, 1rem);
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap, 1rem);
    justify-content: center;
    align-items: center;
}

.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap, 1rem);
}

.with-sidebar> :first-child {
    flex-basis: 20rem;
    flex-grow: 1;
}

.with-sidebar> :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}

.switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap, 1rem);
}

.switcher>* {
    flex-grow: 1;
    flex-basis: calc((var(--measure) - 100%) * 999);
}

.cover {
    min-block-size: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap, 1rem);
}

.frame {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
}

.reel {
    display: flex;
    overflow-x: auto;
    gap: var(--gap, 1rem);
}

.imposter {
    position: absolute;
    inset: 0;
    margin: auto;
}

.icon {
    inline-size: 2rem;
    aspect-ratio: 1;
    object-fit: contain;
}

/* ===================== */
/* 🧰 Utility classes */
.text-center {
    text-align: center;
}

.text-present-1 {
    font-size: var(--fs-20);
    font-family: "Barlow Semi Condensed";
    font-weight: 600;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0;
    color: rgb(var(--clr-white));
}

.text-present-2 {
    font-size: var(--fs-13);
    font-family: "Barlow Semi Condensed";
    font-weight: 500;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0;
    color: rgb(var(--clr-white));
}

.text-present-3 {
    font-size: var(--fs-13);
    font-family: "Barlow Semi Condensed";
    font-weight: 500;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0px;
    color: rgb(var(--clr-purple-50));
}

.text-present-4 {
    font-size: var(--fs-11);
    font-family: "Barlow Semi Condensed";
    font-weight: 500;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0px;
    color: rgb(var(--clr-purple-50));
}

/* ===================== */
/* 🧩 Custom komponentai */