/* =============================================== */
/* Custom properties */
:root {
    --font-base: 1rem;
    /* --line-height: 1.5; */

    --ff-Manrope: "Manrope", sans-serif;

    --clr-white: 255, 255, 255;
    --clr-grey-900: 72, 85, 106;
    --clr-grey-500: 110, 128, 152;
    --clr-grey-400: 157, 174, 194;
    --clr-grey-200: 236, 242, 248;

    --fs-20: 1.25rem;
    --fs-13: 0.813rem;
}

/* =============================================== */
/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    font-size: var(--font-base);
    /* line-height: var(--line-height); */
    font-family: var(--ff-Manrope);
    /* color: var(--clr-grey-500); */
    background-color: rgb(var(--clr-grey-200))
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

button {
    border: none;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

/* =============================================== */
/* Utility classes */

.text-present-1 {
    font-size: var(--fs-20);
    font-weight: 700;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.25px;
}

.text-present-2-medium {
    font-size: var(--fs-13);
    font-weight: 500;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.12%;
}

.text-present-2-bold {
    font-size: var(--fs-13);
    font-weight: 700;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.12%;
}

.text-present-3 {
    font-size: var(--fs-13);
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 25%;
}

.text-clr-grey-900 {
    color: rgb(var(--clr-grey-900));
}

.text-clr-grey-500 {
    color: rgb(var(--clr-grey-500));
}

.text-clr-grey-400 {
    color: rgb(var(--clr-grey-400));
}

/* =============================================== */
/* Components */

button {
    background-color: rgb(var(--clr-white));
    cursor: pointer;
}

button:hover circle,
button:focus-visible circle {
    fill: rgb(var(--clr-grey-500))
}

button:hover path,
button:focus-visible path {
    fill: rgb(var(--clr-white))
}

.share-links {
    background: rgb(var(--clr-grey-900));
    padding: 18px 38px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 24px;
    position: absolute;
    bottom: 106px;
    right: -67px;
    z-index: 10;
}

@media (width < 36em) {
    .card-text {
        padding: 32px 30px 18px;
        margin-left: 0;
        max-width: 100%;
    }

    .card-text>p {
        padding: 24px 0 48px;
    }
}

#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    z-index: 9;
}

.share-links::after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 12px;
    background: rgb(var(--clr-grey-900));
    clip-path: polygon(50% 0%, 100% 0%, 50% 100%, 0% 0%);
}

.share-links p {
    text-transform: uppercase;
}

.share-links .icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.share-links .mobile-button {
    display: none;
}

@media (width < 36em) {
    .share-links {
        padding: 22px 30px;
        border-radius: 0 0 10px 10px;
        justify-content: space-between;
        position: absolute;
        left: 0px;
        bottom: 0px;
        right: 0px;
        z-index: 10;
    }

    .share-links .mobile-button {
        display: block;
    }

    .share-links button {
        background-color: rgb(var(--clr-grey-900));
    }

    .share-links button circle {
        fill: rgb(var(--clr-grey-500))
    }

    .share-links button path {
        fill: rgb(var(--clr-white))
    }

    .share-links::after {
        display: none;
    }

    .share-links button:hover circle,
    .share-links button:focus-visible circle {
        fill: rgb(var(--clr-grey-200))
    }

    .share-links button:hover path,
    .share-links button:focus-visible path {
        fill: rgb(var(--clr-grey-500))
    }

    button:hover circle,
    button:focus-visible circle {
        fill: rgb(var(--clr-grey-500))
    }

    button:hover path,
    button:focus-visible path {
        fill: rgb(var(--clr-white))
    }
}

/* =============================================== */
/* Custom components */

main {
    margin-inline: 80px;
}

article {
    margin: 0 auto;
    max-width: 730px;
    margin-block: 260px;
    border-radius: 10px;
    background-color: rgb(var(--clr-white));
    display: flex;
    position: relative;
}

.card-image img {
    border-radius: 10px 0 0 10px;
    height: 100%;
}

@media (36em <=width <=48em) {
    article {
        margin-block: 227px;
    }
}

@media (width < 36em) {
    article {
        margin-block: 64px;
        margin-inline: 24px;
        flex-direction: column;
    }

    .card-image img {
        border-radius: 10px 10px 0 0;
        height: auto;
    }

    main {
        margin-inline: 0;
    }
}

.card-text {
    padding: 30px 40px 30px 0;
    margin-left: 25px;
    position: relative;
}

.card-text>p {
    padding: 24px 0;
}

@media (width < 36em) {
    .card-text {
        padding: 32px 30px 18px;
        margin-left: 0;
        border-radius: 0 0 10px 10px;
    }

    .card-text>p {
        padding: 24px 0 48px;
    }
}

.profile {
    display: flex;
    justify-content: space-between;
}

@media (width < 36em) {

    *,
    ::before,
    ::after {
        box-sizing: content-box;
    }
}

.profile-name {
    display: flex;
    gap: 16px;
}

.profile-name img {
    width: 40px;
    border-radius: 50%;
}